<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <div class="card" style="width: 18rem;"> 
        <h5 class="card-title title">{{produit.nom | slice:0:10}}
            <span *ngIf="produit.nom.length>10">...</span>
        </h5> 
        <h5 *ngIf="produit.real" class="artist">{{produit.real}}</h5> 
        <h5 *ngIf="produit.artiste" class="artist">{{produit.artiste}}</h5> 
        <hr >
            <img [src]="obelix" class="card-img-top img" alt="Obelix" *ngIf="!produit.img"> 
            <img src={{produit.img}} class="card-img-top img" alt={{produit.nom}} *ngIf="produit.img">
        

        <div class="card-body">  
            
            
            
            <p class="card-text">{{produit.synopsis | slice:0 : 140}}...</p>  
            <a routerLink="{{produit.id}}" class="btn btn-primary">voir le détail</a>  
        </div> 
    </div>
