.container{
    background-color: rgb(158, 212, 219);
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    border:solid 2px orangered;
}
h2{
    padding :10px;
}
.imageDetails{
    border-radius:10px;
    margin-bottom:10px;
    height:350px;
}
.synopsis{
    font-style: italic;
}
.row{
    display:flex;
    justify-content: space-between;
}


