
<div class="container">
    <h2>{{product.nom}}</h2>
    <div class="row">
        <div class="col1">
            
                <img *ngIf="product.img !=''" [src]="product.img" alt="{{product.nom}}" class="imageDetails">
                <img *ngIf="!product.img"  src="https://1.bp.blogspot.com/-mq6ZzkBncwQ/USPN44Aq7oI/AAAAAAAAAuA/tNMcEp4QRdY/s1600/ObelixSaluda.jpg" class="imageDetails" alt="{{product.nom}}">
            <div class="col2">
                <p class="titleSynopsis">Synopsis : <span class="synopsis">{{product.synopsis}}</span></p>
            </div>
        </div>
        <div class="col">
            <div>
                <p>{{product.real}}</p>
                <p>{{product.artiste}}</p>
            </div>
            <div>
                <p>{{product.annee}}</p>
            </div>
            <div>
                <p>{{product.details}}</p>
            </div>
        </div>
    </div>
    <a routerLink="/products" class="btn btn-primary">retour</a>
</div>
